@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* CAMBIO: Usar los nuevos colores oscuros por defecto */
  background-color: #09090b; 
  color: #f4f4f5;
}

/* Opcional: Estilo para inputs autofill en Chrome para que no se pongan blancos */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #18181b inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}